.App{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;
    margin: auto;
   align-items: center;
}
.spinner{
    border: 8px solid rgb(168, 163, 167);
    border-top: 8px solid rgb(76, 0, 255);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: 3s linear 0s infinite spinner;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(270deg);
        border-top-color: rgb(255, 0, 0);
    }
    75%{
        transform: rotate(540deg);
    }
    100%{
        transform: rotate(720deg);
    }
}